 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    font-family: 'Roboto', sans-serif;
}

.Login {
    width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 
                0px 10px 10px rgba(0,0,0,0.22);
}

.header {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #ff5e62;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover {
    background: #30cc32;
}
